.menuList {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu-item {
    cursor: pointer;
    font-weight: 600;
    position: relative;
}

.menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.87);;
    height: 2px;
    transition: right 0.5s ease-in;
}

.menu-item:hover::after {
    right: 0;
}

.menu-item > a {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}
